body {
  overflow: hidden;
}

#action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button {
  margin: 0 20px;
  cursor: pointer;
  border: none;
  background-color: #009444;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 20px;
}

.button:focus {
  outline: none;
}

#root .canvas {
  cursor: crosshair;
}
